Read_cXML_Invoices/Read_cXML_Invoices/Web References/DevZPurchaseOrder/PurchaseOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/purchaseorder" targetNamespace="urn:microsoft-dynamics-schemas/page/purchaseorder" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/purchaseorder" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="PO_Transmission_Method">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="email" />
          <xsd:enumeration value="Biztalk" />
          <xsd:enumeration value="Fax" />
          <xsd:enumeration value="Phone" />
          <xsd:enumeration value="Internet" />
          <xsd:enumeration value="_x0037_02" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="HotOrder_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_x0030_" />
          <xsd:enumeration value="Overnight" />
          <xsd:enumeration value="_x0032_nd_Day" />
          <xsd:enumeration value="_x0033_rd_Day" />
          <xsd:enumeration value="Overnight_AM" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Open" />
          <xsd:enumeration value="Released" />
          <xsd:enumeration value="Pending_Approval" />
          <xsd:enumeration value="Pending_Prepayment" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Confirm_To">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="PURCHASING_GOVSCI_COM" />
          <xsd:enumeration value="NMPURCHASING_GOVSCI_COM" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Purchase_Order_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Standard" />
          <xsd:enumeration value="Reserved" />
          <xsd:enumeration value="Advance" />
          <xsd:enumeration value="Mixed" />
          <xsd:enumeration value="Transfer" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Biztalk_Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Send_to_Biztalk" />
          <xsd:enumeration value="Processed" />
          <xsd:enumeration value="Sent" />
          <xsd:enumeration value="Failed" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Applies_to_Doc_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Payment" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="Credit_Memo" />
          <xsd:enumeration value="Finance_Charge_Memo" />
          <xsd:enumeration value="Reminder" />
          <xsd:enumeration value="Refund" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Fixed_Asset" />
          <xsd:enumeration value="Charge_Item" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Certificate_Required">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="C_of_C" />
          <xsd:enumeration value="C_of_A" />
          <xsd:enumeration value="SDS" />
          <xsd:enumeration value="C_of_A_and_SDS" />
          <xsd:enumeration value="C_of_A_and_C_of_C" />
          <xsd:enumeration value="C_of_C__x0026__C_of_A__x0026__SDS" />
          <xsd:enumeration value="C_of_C_and_SDS" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="QA_Inspection">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Passed" />
          <xsd:enumeration value="Failed_Wrong__x0023_" />
          <xsd:enumeration value="Failed_Wrong_Qty_on_Packing_Slip" />
          <xsd:enumeration value="Failed_Item_Not_Identifiable" />
          <xsd:enumeration value="Failed_Item_Damaged" />
          <xsd:enumeration value="Potential_Suspect_Counterfeit_Item" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Purchase_Order_Type_50034">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Standard" />
          <xsd:enumeration value="Reserved" />
          <xsd:enumeration value="Advance" />
          <xsd:enumeration value="Transfer" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Purchase_Order_Line">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="tns:Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Notes" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Certificate_Required" type="tns:Certificate_Required" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Quote_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Order_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Order_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Drop_Shipment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchasing_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Special_Order_Sales_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Special_Order_Sales_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Direct_Unit_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Price_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Back_Order" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Outstanding_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="QA_Inspection" type="tns:QA_Inspection" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Receive" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchase_Order_Type" type="tns:Purchase_Order_Type_50034" />
          <xsd:element minOccurs="0" maxOccurs="1" name="For_Customer" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Received" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Invoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Invoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="docAlpha_Qty_to_Receive" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="docAlpha_Qty_to_Invoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="docAlpha_Direct_Unit_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Requested_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expected_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Planned_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Use_Tax" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Liable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Area_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Group_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Backorder_Indefinite" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Indirect_Cost_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gen_Prod_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Invoice_Received" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Back_Order_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tracking_Carrier" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tracking_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Shipped" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="QTY_on_Back_Order" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Amount_Excl_VAT" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_VAT_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Amount_Incl_VAT" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Purchase_Order_Line_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Purchase_Order_Line" type="tns:Purchase_Order_Line" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Sales_Document_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Quote" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Invoice" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Quality_Req_Line">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Requirement_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Requirement" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Order_Req_No_Inspection" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qualified_Supplier_Required" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchasing_Review_Complete" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Product_Received_Meets_Req" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Warehouse_Notes" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="product_Meets_Req_to_Ship" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Document_Type" type="tns:Sales_Document_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Salesperson_Code" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Quality_Req_Line_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Quality_Req_Line" type="tns:Quality_Req_Line" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PurchaseOrder">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Vendor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Vendor_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Vendor_Name_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="eStore_Order_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PO_Transmission_Method" type="tns:PO_Transmission_Method" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contains_Option_Years" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HotOrder" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HotOrder_Type" type="tns:HotOrder_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Order_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Invoice_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Invoice_No_Confirm" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Confirmation_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tracking_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchaser_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Confirm_To" type="tns:Confirm_To" />
          <xsd:element minOccurs="0" maxOccurs="1" name="For_GSS_Use" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Internal_Notes" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Order_Notes" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Notes" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dA_Batch_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Invoice_Received" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quote_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchase_Order_Type" type="tns:Purchase_Order_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Biztalk_Status" type="tns:Biztalk_Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date_Sent" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Time_Sent" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PO_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PO_Time" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Trans_Method_UserID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Trans_Method_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Trans_Method_Time" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Confirm_UserID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Confirm_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Confirm_Time" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Vendor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Name_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Applies_to_Doc_Type" type="tns:Applies_to_Doc_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Applies_to_Doc_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IRS_1099_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Due_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pmt_Discount_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Liable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Area_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Exemption_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Exempt" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pd_Per_PO" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Freight_Copy_Required" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Receiving_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Name_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_PO_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Requested_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Promised_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expected_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Customer_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Currency_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Specification" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transport_Method" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Entry_Point" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Area" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepayment_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepayment_No_Series" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Compress_Prepayment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Payment_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepayment_Due_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Payment_Discount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Pmt_Discount_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Cr_Memo_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Include_Tax" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Price_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fiscal_Invoice_Number_PAC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Disable_Pricing" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PurchLines" type="tns:Purchase_Order_Line_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quality_Req_Line" type="tns:Quality_Req_Line_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PurchaseOrder_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="PurchaseOrder" type="tns:PurchaseOrder" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="PurchaseOrder_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Buy_from_Vendor_No" />
          <xsd:enumeration value="Buy_from_Vendor_Name" />
          <xsd:enumeration value="Buy_from_Vendor_Name_2" />
          <xsd:enumeration value="Buy_from_Address" />
          <xsd:enumeration value="Buy_from_Address_2" />
          <xsd:enumeration value="Buy_from_City" />
          <xsd:enumeration value="Buy_from_County" />
          <xsd:enumeration value="Buy_from_Post_Code" />
          <xsd:enumeration value="Buy_from_Country_Region_Code" />
          <xsd:enumeration value="Buy_from_Contact" />
          <xsd:enumeration value="eStore_Order_No" />
          <xsd:enumeration value="PO_Transmission_Method" />
          <xsd:enumeration value="Contains_Option_Years" />
          <xsd:enumeration value="Shipment_Method_Code" />
          <xsd:enumeration value="HotOrder" />
          <xsd:enumeration value="HotOrder_Type" />
          <xsd:enumeration value="Posting_Date" />
          <xsd:enumeration value="Order_Date" />
          <xsd:enumeration value="Document_Date" />
          <xsd:enumeration value="Vendor_Invoice_No" />
          <xsd:enumeration value="Vendor_Invoice_No_Confirm" />
          <xsd:enumeration value="Confirmation_No" />
          <xsd:enumeration value="Tracking_No" />
          <xsd:enumeration value="Purchaser_Code" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Confirm_To" />
          <xsd:enumeration value="For_GSS_Use" />
          <xsd:enumeration value="Internal_Notes" />
          <xsd:enumeration value="Sales_Order_Notes" />
          <xsd:enumeration value="Vendor_Notes" />
          <xsd:enumeration value="dA_Batch_ID" />
          <xsd:enumeration value="Invoice_Received" />
          <xsd:enumeration value="Quote_No" />
          <xsd:enumeration value="Purchase_Order_Type" />
          <xsd:enumeration value="Document_ID" />
          <xsd:enumeration value="Biztalk_Status" />
          <xsd:enumeration value="Date_Sent" />
          <xsd:enumeration value="Time_Sent" />
          <xsd:enumeration value="User_ID" />
          <xsd:enumeration value="PO_Date" />
          <xsd:enumeration value="PO_Time" />
          <xsd:enumeration value="Trans_Method_UserID" />
          <xsd:enumeration value="Trans_Method_Date" />
          <xsd:enumeration value="Trans_Method_Time" />
          <xsd:enumeration value="Confirm_UserID" />
          <xsd:enumeration value="Confirm_Date" />
          <xsd:enumeration value="Confirm_Time" />
          <xsd:enumeration value="Pay_to_Vendor_No" />
          <xsd:enumeration value="Pay_to_Name" />
          <xsd:enumeration value="Pay_to_Name_2" />
          <xsd:enumeration value="Pay_to_Address" />
          <xsd:enumeration value="Pay_to_Address_2" />
          <xsd:enumeration value="Pay_to_City" />
          <xsd:enumeration value="Pay_to_County" />
          <xsd:enumeration value="Pay_to_Post_Code" />
          <xsd:enumeration value="Pay_to_Country_Region_Code" />
          <xsd:enumeration value="Pay_to_Contact" />
          <xsd:enumeration value="Applies_to_Doc_Type" />
          <xsd:enumeration value="Applies_to_Doc_No" />
          <xsd:enumeration value="IRS_1099_Code" />
          <xsd:enumeration value="Payment_Terms_Code" />
          <xsd:enumeration value="Payment_Method_Code" />
          <xsd:enumeration value="Due_Date" />
          <xsd:enumeration value="Pmt_Discount_Date" />
          <xsd:enumeration value="Tax_Liable" />
          <xsd:enumeration value="Tax_Area_Code" />
          <xsd:enumeration value="Tax_Exemption_No" />
          <xsd:enumeration value="Tax_Exempt" />
          <xsd:enumeration value="Pd_Per_PO" />
          <xsd:enumeration value="Freight_Copy_Required" />
          <xsd:enumeration value="Receiving_No" />
          <xsd:enumeration value="Ship_to_Code" />
          <xsd:enumeration value="Ship_to_Name" />
          <xsd:enumeration value="Ship_to_Name_2" />
          <xsd:enumeration value="Ship_to_Address" />
          <xsd:enumeration value="Ship_to_Address_2" />
          <xsd:enumeration value="Ship_to_City" />
          <xsd:enumeration value="Ship_to_County" />
          <xsd:enumeration value="Ship_to_Post_Code" />
          <xsd:enumeration value="Ship_to_Country_Region_Code" />
          <xsd:enumeration value="Ship_to_Contact" />
          <xsd:enumeration value="Customer_PO_No" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Requested_Receipt_Date" />
          <xsd:enumeration value="Promised_Receipt_Date" />
          <xsd:enumeration value="Expected_Receipt_Date" />
          <xsd:enumeration value="Sell_to_Customer_No" />
          <xsd:enumeration value="Currency_Code" />
          <xsd:enumeration value="Transaction_Type" />
          <xsd:enumeration value="Transaction_Specification" />
          <xsd:enumeration value="Transport_Method" />
          <xsd:enumeration value="Entry_Point" />
          <xsd:enumeration value="Area" />
          <xsd:enumeration value="Prepayment_Percent" />
          <xsd:enumeration value="Prepayment_No_Series" />
          <xsd:enumeration value="Compress_Prepayment" />
          <xsd:enumeration value="Prepmt_Payment_Terms_Code" />
          <xsd:enumeration value="Prepayment_Due_Date" />
          <xsd:enumeration value="Prepmt_Payment_Discount_Percent" />
          <xsd:enumeration value="Prepmt_Pmt_Discount_Date" />
          <xsd:enumeration value="Vendor_Cr_Memo_No" />
          <xsd:enumeration value="Prepmt_Include_Tax" />
          <xsd:enumeration value="Price_Date" />
          <xsd:enumeration value="Fiscal_Invoice_Number_PAC" />
          <xsd:enumeration value="Disable_Pricing" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PurchaseOrder_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:PurchaseOrder_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:PurchaseOrder_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:PurchaseOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder_List" type="tns:PurchaseOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder_List" type="tns:PurchaseOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder_List" type="tns:PurchaseOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder_List" type="tns:PurchaseOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_PurchLines">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchLines_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_PurchLines_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_PurchLines_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Quality_Req_Line">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Quality_Req_Line_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Quality_Req_Line_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Quality_Req_Line_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="Delete_PurchLines">
    <part name="parameters" element="tns:Delete_PurchLines" />
  </message>
  <message name="Delete_PurchLines_Result">
    <part name="parameters" element="tns:Delete_PurchLines_Result" />
  </message>
  <message name="Delete_Quality_Req_Line">
    <part name="parameters" element="tns:Delete_Quality_Req_Line" />
  </message>
  <message name="Delete_Quality_Req_Line_Result">
    <part name="parameters" element="tns:Delete_Quality_Req_Line_Result" />
  </message>
  <portType name="PurchaseOrder_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="Delete_PurchLines">
      <input name="Delete_PurchLines" message="tns:Delete_PurchLines" />
      <output name="Delete_PurchLines_Result" message="tns:Delete_PurchLines_Result" />
    </operation>
    <operation name="Delete_Quality_Req_Line">
      <input name="Delete_Quality_Req_Line" message="tns:Delete_Quality_Req_Line" />
      <output name="Delete_Quality_Req_Line_Result" message="tns:Delete_Quality_Req_Line_Result" />
    </operation>
  </portType>
  <binding name="PurchaseOrder_Binding" type="tns:PurchaseOrder_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_PurchLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:Delete_PurchLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_PurchLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_PurchLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_Quality_Req_Line">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:Delete_Quality_Req_Line" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_Quality_Req_Line">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Quality_Req_Line_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="PurchaseOrder_Service">
    <port name="PurchaseOrder_Port" binding="tns:PurchaseOrder_Binding">
      <address location="http://172.16.25.121:7047/DynamicsNAV90/WS/Government%20Scientific%20Source/Page/PurchaseOrder" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>